@import "tailwindcss";
:root {
  margin: 0;
  padding: 0;
}
@keyframes float {
  0% {
    transform: translateY(110vh) rotate(0deg);
  }
  100% {
    transform: translateY(-20vh) rotate(360deg);
  }
}

.floating {
  animation-name: float;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: #22d3ee;
}
